#joke {
	font-style: italic;
	font-size: 1.5rem;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}

#errorText {
    background: rgb(255, 67, 67);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.hide {
    display: none;
}